@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
*{
    margin: 0px;
    padding: 0px;
}

:root{
    --color-primary-hover: #556269 ;
    --color-secundary-hover: #a8afae63 ;
    --color-primary: #7bb2d2;
    --secundary-color: #62709D;
    --body-color: #C5CADB;
    --body-color-2: #62709D;
    --neon-color-1: white;
    --neon-color-2: rgb(130, 128, 128);
    --neon-color-3: rgb(3, 3, 3);
}


body{
    font-family: "BBH Sans Bogle", sans-serif;
    font-style: normal;
    font-weight: 200;
    background: linear-gradient(var(--body-color), var(--body-color-2));
    background-attachment: fixed;
}

h1{
    text-align: center;
    margin-bottom: 20px;
    margin: 20px;
    color: #292e31;

    text-shadow: 
    8px 11px 20px rgba(5, 203, 234, 0.607),
    0px 19px  10px #b5d8ec,
    0px 2px 5px  #C5CADB; 

}

p{
    margin-bottom: 9px;
    text-align: center;
    font-size: medium;
}

.container{
    width: 100%;
    max-width: 1300px;
    min-height: 120px;
    margin: 0 auto;
    padding: 10px;
    display: grid;
    grid-template-columns: 4fr 4f 4fr;
    cursor: pointer;
    transition: 1s;
}


.seccion{
    width: 100%;
    max-width: 1300px;
    min-height: 120px;
    margin: 0 auto;
    padding: 10px;
    display: grid;
    grid-template-columns: 4fr 4f 4fr;
    cursor: pointer;
    transition: 1s;
}


.item{
    width: 88%;
    padding: 09px;
    max-width: 2000px;
    min-width: 490px;
    text-align: center;
    margin: 20px;
    border: 2px solid white;
    border-radius: 20px;
    transition:  transform 0.3s ease, box-shadow 0.3s, border-color 3.0s ease;
}

.item:hover h3, .item-2:hover h3{
    transform: translateX(19px);
    color:#C5CADB;
}

.item:hover p{
    transform: translateX(10px);
}

.item-2:hover p{
    transform: translateX(30px);
}

.direccion_column{
    display: flex;
    padding: 1px;
    min-height: 50px;
}

.item-3{
    height: 20px;
    width: 80px;
    background: #3498bd;
    color: white;
    padding: 5px;
    margin: 2px;
    border-radius: 3px;

    transition-property: all;
    transition-duration: 0.5s;
}

.item-3:hover{
    padding: 1rem 2rem;
    background: #033553;
    color: aliceblue;
}

.item-2{
    width: 88%;
    padding: 09px;
    max-width: 2000px;
    min-width: 490px;
    text-align: center;
    margin: 20px;
    border: 2px solid white;
    border-radius: 20px;
    transition:  transform 0.3s ease, box-shadow 0.3s, border-color 3.0s ease;
}


.gif{
    margin: 0 auto;
    height: 16rem;
    width: 91%;
    border-radius: 3px;
    margin-top: 10px;
}

.item:hover, .item-2:hover{
    background: linear-gradient(var(--color-primary-hover), var(--color-secundary-hover));
    transform: translateY(-10px);
    box-shadow:
    0 0 10px var(--neon-color-1),
    0 0 20px var(--neon-color-2),
    0 0 40px var(--neon-color-3);
}

.item-2:hover, .item-2:hover{
    background: linear-gradient(var(--color-primary-hover), var(--color-secundary-hover));
}



a{
    text-decoration: none;
    padding: 1px;
    height: 1px;

}

.h{
    flex-direction: column;
    color: #b5d8ec;
    font-size: large;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin:  -18px;
}


.link_nombre{
    color: white;
    font-family: "Libre Baskerville", serif;
    font-weight: 200px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.descripcion {
    text-decoration: none;
    color: black;
    margin-right: 0px;
    flex-direction: column;
    text-align: left;
}


.descripcion:hover p{
   transform:  translateX(10px);
}

.item, .item-2{
    background: linear-gradient(var(--color-primary), var(--secundary-color));
    
}



@keyframes bajada {
  0% {
    transform: translateY(-100px); /* empieza arriba */
    opacity: 0; /* invisible al inicio */
  }
  100% {
    transform: translateY(0); /* termina en su posición normal */
    opacity: 1; /* visible */
  }

}

.item-2{
  animation: bajada 1.5s ease-out;
}

.item{
    animation: bajada 1.5s ease-out ;
}


@media (min-width: 790px){
    .seccion{
        display: grid;
        grid-template-columns: 4fr 4f 4fr;
        cursor: pointer;
        transition: 1s;
        align-items: center;
    }

    .container{
        display: grid;
        grid-template-columns: 1fr;
        cursor: pointer;
        transition: 1s;
    }

    .container-2{
        margin-top: -22px;
    }


     .seccion{
        display: grid;
        grid-template-columns: 4fr 4f 4fr;
        cursor: pointer;
        transition: 1s;
        align-items: center;
    }

    .item-2{
        width: 88%;
        padding: 09px;
        max-width: 2000px;
        min-width: 295px;
        text-align: center;
        align-items: center;
        margin: 30px;
        border: 2px solid white;
        border-radius: 20px;
    }


    .item{
        width: 88%;
        padding: 25px;
        max-width: 1000px;
        min-width: 695px;
        text-align: center;
        margin: 10px;
        border: 2px solid white;
        border-radius: 30px;
    }

    a{
        text-decoration: none;
        padding: 10rem;
        height: 30rem;
        width: 30rem;
    }

    .link_nombre{
        color: white;
        font-family: "Libre Baskerville", serif;
        font-weight: 500px;
        text-align: left;

    }

    .descripcion{
        text-decoration: none;
        color: black;
        margin-right: 0px;
        flex-direction: column;
        text-align: left;
    }
    
}

@media (min-width: 914px){
    .container{
        display: grid;
        grid-template-columns: 3fr 3fr ;
        cursor: pointer;
        transition: 1s;
    }

    .item{
        width: 90%;
        padding: 10px;
        max-width: 10000px;
        min-width: 425px;
        text-align: center;
        margin: 20px;
        border: 2px solid white;
        border-radius: 20px;
    }
    
    

    .item-2{
        width: 88%;
        padding: 09px;
        max-width: 2000px;
        min-width: 295px;
        text-align: center;
        align-items: center;
        margin: 30px;
        border: 2px solid white;
        border-radius: 20px;
    }

    .item_boton{
        margin-bottom: 10px;
    }



    a{
        text-decoration: none;
        padding: 1px;
        height: 1px;
        width: 1px;
    }


    .h{
        width: 80px;
        margin-left: -1px;
    }

    .link_nombre{
        color: white;
        font-family: "Libre Baskerville", serif;
        font-weight: 500px;
        text-align: left;

    }

    .descripcion{
        text-decoration: none;
        color: black;
        margin-right: 0px;
        flex-direction: column;
        text-align: left;
    }

}