@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
*{
    margin: 0px;
    padding: 0px;
}

:root{
    --color-primary-hover: #b5d8ec ;
     --color-secundary-hover: #087662 ;
    --color-primary: #7bb2d2;
    --secundary-color: #1a4c43;
    --body-color: #1e3c72;
    --body-color-2: #2a5298;
}


body{
    font-family: "BBH Sans Bogle", sans-serif;
    font-style: normal;
    font-weight: 200;
    background: linear-gradient(var(--body-color), var(--body-color-2));
    background-attachment: fixed;
}

h1{
    text-align: center;
    margin-bottom: 20px;
    margin: 20px;
}

p{
    margin-bottom: 9px;
    text-align: center;
    font-size: medium;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1f 1fr;
    cursor: pointer;
    transition: 1s;
}

.seccion_portafolio{
    margin-top: 3rem;
}

.container-2{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    cursor: pointer;
    transition: 1s;
}


.item{
    padding: 10px;
    text-align: center;
    margin: 20px;
    border-radius: 10px;
}


.direccion_column{

    display: flex;
    padding: 1px;
    min-height: 50px;
}

.item-3{
    height: 20px;
    width: 80px;
    background: #3498bd;
    color: white;
    padding: 5px;
    margin: 2px;
    border-radius: 3px;
}

.item-2{
    color: white;
    padding: 30px;
    text-align: center;
    margin: 2px;
    border-radius: 3px;
}


.gif{
    margin: 10px;
    height: 15rem;
    width: 30rem;
    border-radius: 3px;
}

.item:hover{
    background: linear-gradient(var(--color-primary-hover), var(--color-secundary-hover));
}

.item-2:hover{
    background: linear-gradient(var(--color-primary-hover), var(--color-secundary-hover));
}



a{
    text-decoration: none;
    padding: 1px;
    height: 1px;

}

.h{
    flex-direction: column;
    color: #b5d8ec;
    font-size: large;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin:  -18px;
}


.link_nombre{
    color: white;
    font-family: "Libre Baskerville", serif;
    font-weight: 200px;
    text-align: left;
    margin-top: 10px;
}

.descripcion{
    text-decoration: none;
    color: black;
    margin-right: 0px;
    flex-direction: column;
    text-align: left;
}

.item, .item-2{
    background: linear-gradient(var(--color-primary), var(--secundary-color));
}



@keyframes bajada {
  0% {
    transform: translateY(-100px); /* empieza arriba */
    opacity: 0; /* invisible al inicio */
  }
  100% {
    transform: translateY(0); /* termina en su posición normal */
    opacity: 1; /* visible */
  }

}

.item-2{
  animation: bajada 1.5s ease-out;
}

.item{
    animation: bajada 1.5s ease-out ;
}


@media (min-width: 725px){

    .container{
        display: grid;
        grid-template-columns: 1fr;
        cursor: pointer;
        transition: 1s;
    }

    .item{
        padding: 1px;
        text-align: center;
        margin: 10px;
        border-radius: 10px;
    }
    
    
    .item_boton{
        margin-bottom: 10px;
    }



    a{
        text-decoration: none;
        padding: 1px;
        height: 1px;
        width: 1px;
    }


    .h{
        width: 80px;
        margin-left: -1px;
    }

    .link_nombre{
        color: white;
        font-family: "Libre Baskerville", serif;
        font-weight: 500px;
        text-align: left;

    }

    .descripcion{
        text-decoration: none;
        color: black;
        margin-right: 0px;
        flex-direction: column;
        text-align: left;
    }

}



@media (min-width: 644px){
    .container{
        display: grid;
        grid-template-columns: 3fr 3fr;
        cursor: pointer;
        transition: 1s;
    }

    .item{
        padding: 20px;
        text-align: center;
        margin: 40px;
        border-radius: 10px;
    }

    a{
        text-decoration: none;
        padding: 10rem;
        height: 30rem;
        width: 30rem;
    }

    .link_nombre{
        color: white;
        font-family: "Libre Baskerville", serif;
        font-weight: 500px;
        text-align: left;

    }

    .descripcion{
        text-decoration: none;
        color: black;
        margin-right: 0px;
        flex-direction: column;
        text-align: left;
    }
    
}