.fluid-container {
    width: 90%;
    max-width: 1000px;
    min-width: 320px;
    margin: 0 auto;
    padding: 20px;
    background: blue;
    color: white;
}

.fluid-grid{
    display: flex;
    grid-template-columns: repeat(auto-fit, min-max(250px, 1fr));
    gap: 20px;
    margin-bottom: 20px;
}

.image-container{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

.card{
    background-color: #3dd;
    width: 90%;
    padding: 20px;
    max-width: 1000px;
    min-width: 20px;
    border-radius: 12px;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    color: beige;
}

.image-box{
    width: 100%;
    height: 200px;
    background: red;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fluid-title{
    font-size: clamp(1.5rem, 4vw, 3rem);
    margin-bottom: 10px;
}

