h1{
    color: blue;
}

h2{
    color: green;
}

p{
    color: aquamarine;
}

.parrafo{
    color: red;
}

.contenedor{
    border: 2px solid blue;
    
}

.contenedor p {
    color: blue;
}

#unico{
    background-color: yellow;
}

button:hover {
    background-color: rgb(0, 0, 0);
    color: blueviolet;
    cursor: pointer;
}

a:link{ /*El link solo se observa un cambio cuando nosotros visitamos una pagina */
    color: green;

}

a:visited{
    color: yellow;
}