.button{
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.btn {
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background: #3498db;
    color: white;
}

.btn-color{
    transition: background-color 0.3s ease;
}

.btn-color:hover{
    background-color: #e34c3c;
}

.btn-size{
    transition:  transform 0.3s ease;
}

.btn-size:hover{
    transform: scale(1.1);
}

.btn-all{
    transition: all 0.3s ease;
}

.btn-all:hover{
    background-color: #2ecc71;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
}

.timig-container{
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.box{
    width: 100px;
    height: 100px;
    background-color: #9b59b6;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.timig-linear{
    transition: transform 1s linear;
}

.timig-ease{
    transition: transform 1s ease;
}

.timig-ease-in-out{
    transition: transform 1s ease-in-out;
}

.box:hover{
    transform: translateY(200px);
}

/* Transiciones aplicadas */

.card  {
    width: 300px;
    padding: 30px;
    background-color: white;
    border: 2px solid #abafb0;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3 ease, box-show 0.3s ease, border-color 3.0s ease;
}

.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(0,0,0, 0.2);
    border: #3498db;
}

.card h3{
    color: #2c3e50;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

.card h3:hover{
    color: #3498db;
}

.card p {
    color: #7f8c8d;
    transition: transform 0.3s ease 0.1s;
}

.card:hover p{
    transform:  translateX(10px);
}
